:root{
    --bg: black;
    --text: red;
    --card: blue;
}

body.light{
    --bg: grey;
    --text: blue;
    --card: black;
}
body{
    background:var(--bg);
    color:var(--text);
    line-height:1.6;
    transition:0.3s ease;
}

#themeToogle{
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
p{
    color: var(--text);
}